In [1]:
grocery_list = ["eggs", "milk", "avocados"]

In [6]:
for item in grocery_list:
    print(item)

eggs
milk
avocados

In [5]:
names = ["benny","jenny","abby"]
for name in names:
    print("Hello " +name.title()+"!")

Hello Benny!
Hello Jenny!
Hello Abby!

In [7]:
colors = ["red", "yellow", "blue"]
print(colors[0])
print(colors[1])
print(colors[2])

red
yellow
blue

In [3]:
name_list = ["laura", "peggy", "tim", "john", "pete", "anna"]
print(name_list[3])

john

In [2]:
number_list = ["1", "2", "3", "4"]
print(number_list[0])

1

In [7]:
num_lett = ["5", "6", "a", "r"]
for item in num_lett:
    print(item)

5
6
a
r

In [8]:
food = ["pasta", "sushi", "pizza", "sandwich"]
print(food[1])

sushi

In [10]:
list_length = len(food)
print(list_length)

4

In [11]:
my_class = ["Laura", "Jim", "Jan", "Alex", "Summer"]
num_students = len(my_class)
print("There are", num_students, "students in the class")

There are 5 students in the class

In [18]:
my_class.append("Tim")
my_class.insert(1, "Sade")
student_that_left = my_class.pop()
print("The student", student_that_left, "has left the building.")

The student Tim has left the building.

In [20]:
beach_list = ["sunscreen", "towels", "swimsuit", "food", "water"]
beach_length = len(beach_list)
print(beach_length)

5

In [21]:
meals = ["breakfast", "lunch"]
meals.append("dinner")
meals.insert(1, "snack")
print(meals)

['breakfast', 'snack', 'lunch', 'dinner']

In [23]:
countries = ["japan", "italy", "new york", "spain", "binghamton"]
countries.pop(2)

'new york'

In [24]:
countries.pop()

'binghamton'

In [29]:
color = ["purple", "red", "blue", "pink", "grey"]
for item in color:
    print(item)

purple
red
blue
pink
grey

In [30]:
len(color)

5

In [34]:
color = ["purple", "red", "blue", "pink", "grey"]
color.append("yellow")
print(color)

['purple', 'red', 'blue', 'pink', 'grey', 'yellow']

In [35]:
color = ["purple", "red", "blue", "pink", "grey"]
color.insert(3, "orange")
print(color)

['purple', 'red', 'blue', 'orange', 'pink', 'grey']

In [37]:
color = ["purple", "red", "blue", "pink", "grey"]
color.pop(2)
print(color)

['purple', 'red', 'pink', 'grey']

In [39]:
team_batting_avgs = [.328, .299, .208, .301, .275, .226, .253, .232, .287]
sum_avgs = sum(team_batting_avgs)
print("The total of all batting averages is", sum_avgs)

The total of all batting averages is 2.4090000000000003

In [40]:
print("The highest batting average is", max(team_batting_avgs))
print("The lowest batting average is", min(team_batting_avgs))

The highest batting average is 0.328
The lowest batting average is 0.208

In [45]:
numbers = [2, 4, 6, 8, 10]
sum_num = sum(numbers)
print(sum_num)

30

In [46]:
print(max(numbers))
print(min(numbers))

10
2

In [47]:
days_in_week = ["mon", "tues", "wed", "thurs", "fri", "sat", "sun"]
print(days_in_week[1])

tues

In [49]:
for day in days_in_week:
    print(day)

mon
tues
wed
thurs
fri
sat
sun

In [51]:
print("The first day of the week is " + days_in_week[0])

The first day of the week is mon

In [53]:
print("\nThe days in the week are")
for day in days_in_week:
    print("-" + day)

The days in the week are
-mon
-tues
-wed
-thurs
-fri
-sat
-sun

In [54]:
days_in_week = ["mon", "tues", "wed", "thurs", "fri", "sat", "sun"]
days_in_week.append("octday") #no octday
print(days_in_week)

['mon', 'tues', 'wed', 'thurs', 'fri', 'sat', 'sun', 'octday']

In [55]:
months = ["jan", "feb", "march"]
for month in months:
    print(month)

jan
feb
march

In [56]:
unique_colors_list = ["red", "yellow", "red", "green", "red", "yellow"]
unique_colors_set = set(unique_colors_list)
print(unique_colors_set)

{'yellow', 'green', 'red'}

In [57]:
my_set = {"one", "two", "three"}
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [58]:
clothing_list = ["shirt", "jeans", "hoodie", "sweatpants", "shirt", "hoodie"]
clothing_set = set(clothing_list)

print(clothing_list)
print(clothing_set)

for item in clothing_list:
    print(item)
    
print("Now, the set:")
for item in clothing_set:
    print(item)

['shirt', 'jeans', 'hoodie', 'sweatpants', 'shirt', 'hoodie']
{'jeans', 'sweatpants', 'hoodie', 'shirt'}
shirt
jeans
hoodie
sweatpants
shirt
hoodie
Now, the set:
jeans
sweatpants
hoodie
shirt

In [59]:
clothing_set.add("shorts")
clothing_set.add("jeans")

print(clothing_set)

{'hoodie', 'sweatpants', 'shirt', 'jeans', 'shorts'}

In [60]:
clothing_set.remove("shorts")
clothing_set.remove("jeans")

print(clothing_set)

{'hoodie', 'sweatpants', 'shirt'}

In [62]:
clothing_set.discard(1)
print(clothing_set)

{'hoodie', 'sweatpants', 'shirt'}

In [63]:
new_set={“create”, “your”, “own”}
print(new_set)

SyntaxError: invalid character in identifier (<ipython-input-63-ed3e08827ab2>, line 1)

In [64]:
clear_set=new_set.clear()
print(clear_set)

NameError: name 'new_set' is not defined

In [65]:
desk_list = ["stapler", "clips", "pencil", "paper", "stapler", "pen"]
desk_set = set(desk_list)

print(desk_list)
print(desk_set)

for item in desk_list:
    print(item)
    
print("Now, the set:")
for item in desk_set:
    print(item)

['stapler', 'clips', 'pencil', 'paper', 'stapler', 'pen']
{'stapler', 'pencil', 'clips', 'pen', 'paper'}
stapler
clips
pencil
paper
stapler
pen
Now, the set:
stapler
pencil
clips
pen
paper

In [66]:
desk_set.add("calculator")
print(desk_set)

{'stapler', 'pencil', 'calculator', 'clips', 'pen', 'paper'}

In [67]:
desk_set.remove("pencil")
print(desk_set)

{'stapler', 'calculator', 'clips', 'pen', 'paper'}

In [68]:
desk_set.discard(1)
print(desk_set)

{'stapler', 'calculator', 'clips', 'pen', 'paper'}

In [73]:
#post lab ex
newnames = ["bryan","abby","coleman"]
for name in newnames:
    print("my name is " +name)

my name is bryan
my name is abby
my name is coleman

In [74]:
greetings = ['hello', 'goodbye', 'hola', 'adios']
for item in greetings:
    print(item)

hello
goodbye
hola
adios

In [75]:
li = ['hello', 'goodbye', 'hello']
def convert(li): 
    return tuple(li)   
print(convert(li))

('hello', 'goodbye', 'hello')

In [77]:
languages = ["spanish", "french", "italian", "german", "korean", "hindi"]
lang_set = set(languages)

print(languages)
print(lang_set)

for item in languages:
    print(item)
    
print("Now, the set:")
for item in languages:
    print(item)

['spanish', 'french', 'italian', 'german', 'korean', 'hindi']
{'italian', 'hindi', 'german', 'spanish', 'french', 'korean'}
spanish
french
italian
german
korean
hindi
Now, the set:
spanish
french
italian
german
korean
hindi